In [1]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('kc_house_data.csv',
                   delimiter=',',
            
                  )

In [3]:
df['bedrooms_squared'] = np.square(df['bedrooms'])
df['bed_bath_rooms'] = df['bedrooms'] + df['bathrooms']
df['log_sqft_living'] = np.log(df['sqft_living'])
df['lat_plus_long'] = df['lat'] + df['long']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 25 columns):
id                  21613 non-null int64
date                21613 non-null object
price               21613 non-null float64
bedrooms            21613 non-null int64
bathrooms           21613 non-null float64
sqft_living         21613 non-null int64
sqft_lot            21613 non-null int64
floors              21613 non-null float64
waterfront          21613 non-null int64
view                21613 non-null int64
condition           21613 non-null int64
grade               21613 non-null int64
sqft_above          21613 non-null int64
sqft_basement       21613 non-null int64
yr_built            21613 non-null int64
yr_renovated        21613 non-null int64
zipcode             21613 non-null int64
lat                 21613 non-null float64
long                21613 non-null float64
sqft_living15       21613 non-null int64
sqft_lot15          21613 non-null int64
bedrooms_squared    21613 non-null int64
bed_bath_rooms      21613 non-null float64
log_sqft_living     21613 non-null float64
lat_plus_long       21613 non-null float64
dtypes: float64(8), int64(16), object(1)
memory usage: 4.1+ MB

In [5]:
feature = pd.DataFrame({
                        'id': df['id'],
                        'date': df['date'],
                        'sqft_living': df['sqft_living'],
                        'sqft_lot': df['sqft_lot'],
                        'floors': df['floors'],
                        'waterfront': df['waterfront'],
                        'view': df['view'],
                        'condition': df['condition'],
                        'grade': df['grade'],
                        'sqft_above': df['sqft_above'],
                        'sqft_basement': df['sqft_basement'],
                        'yr_built': df['yr_built'],
                        'yr_renovated': df['yr_renovated'],
                        'zipcode': df['zipcode'],
                        'bedrooms': df['bedrooms'], 
                        'bathrooms': df['bathrooms'],
                        'lat': df['lat'],
                        'long': df['long'],
                        'sqft_living15': df['sqft_living15'],
                        'sqft_lot15': df['sqft_lot15'],
                        'bedrooms_squared': df['bedrooms_squared'],
                        'bed_bath_rooms': df['bed_bath_rooms'],
                        'log_sqft_living': df['log_sqft_living'],
                        'lat_plus_long': df['lat_plus_long'],
                        })
target = pd.DataFrame({'price': df['price'],
                      })

In [6]:
feature.shape

(21613, 24)

In [7]:
target.shape

(21613, 1)

In [8]:
from sklearn.cross_validation import train_test_split
feature_train, feature_test, target_train, target_test = train_test_split(feature, target, test_size=0.33, random_state=42)

In [9]:
target_test.shape

(7133, 1)

In [10]:
target_train.shape

(14480, 1)

# What is the mean value (arithmetic average) of the 'bedrooms_squared','bed_bath_rooms','log_sqft_living','lat_plus_long' feature on TEST data? (round to 2 decimal places)

In [11]:
avg_bedrooms_squared_test = round(np.mean(feature_test['bedrooms_squared']), 2)
avg_bed_bath_rooms = round(np.mean(feature_test['bed_bath_rooms']), 2)
avg_log_sqft_living = round(np.mean(feature_test['log_sqft_living']), 2)
avg_lat_plus_long = round(np.mean(feature_test['lat_plus_long']), 2)

print(avg_bedrooms_squared_test)
print(avg_bed_bath_rooms)
print(avg_log_sqft_living)
print(avg_lat_plus_long)

12.25
5.5
7.55
-74.65

## Model 1: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’, and ‘long’

In [12]:
model1_feature_test = pd.DataFrame({'bathrooms': feature_test['bathrooms'],
                                   'bedrooms': feature_test['bedrooms'],
                                   'lat': feature_test['lat'],
                                   'long': feature_test['long'],
                                   'sqft_living': feature_test['sqft_living'],})

model1_feature_train = pd.DataFrame({'bathrooms': feature_train['bathrooms'],
                                   'bedrooms': feature_train['bedrooms'],
                                   'lat': feature_train['lat'],
                                   'long': feature_train['long'],
                                   'sqft_living': feature_train['sqft_living'],})

In [13]:
model1_feature_train.head()

       bathrooms  bedrooms      lat     long  sqft_living
16197       2.75         4  47.6413 -122.357         2600
16993       2.50         3  47.3289 -122.204         2140
17538       1.75         4  47.5979 -122.194         1730
5761        2.50         4  47.3041 -122.280         2130
18921       1.75         5  47.5772 -122.159         1910

In [14]:
target_train.head()

          price
16197  840000.0
16993  302000.0
17538  425000.0
5761   215000.0
18921  565000.0

In [15]:
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()

In [16]:
model1.fit(model1_feature_train, target_train)

/Users/seo/Documents/machine_learning/exercise/lib/python3.5/site-packages/scipy/linalg/basic.py:884: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [17]:
target_train.shape

(14480, 1)

In [18]:
model1_target_predict = model1.predict(model1_feature_test)

In [19]:
# mean_of_bedrooms_squared = round(np.mean(bedrooms_squared), 2)
# mean_of_bed_bath_rooms = round(np.mean(bed_bath_rooms), 2)
# mean_of_log_sqft_living = round(np.mean(log_sqft_living), 2)
# mean_of_lat_plus_long = round(np.mean(lat_plus_long), 2)

In [20]:
from sklearn import metrics
print(metrics.mean_squared_error(target_test, model1_target_predict))

62382591507.5

model1.score(model1_feature_test, target_test)

## - What is the sign (positive or negative) for the coefficient/weight for ‘bathrooms’ in Model 1?

In [22]:
# print(model1.intercept_)
# print(model1.coef_[0][0]
coef_bathrooms = model1.coef_[0][0]
print(coef_bathrooms) # positive
print(model1.coef_)

19715.6115827
[[  1.97156116e+04  -5.00317215e+04   6.45868152e+05  -3.04728206e+05
    2.99671785e+02]]

## Model 2: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, and ‘bed_bath_rooms’

In [23]:
model2_feature_train = pd.DataFrame({
                    'sqft_living': feature_train['sqft_living'],
                    'bedrooms': feature_train['bedrooms'],
                    'bathrooms': feature_train['bathrooms'],
                    'lat': feature_train['lat'],
                    'long': feature_train['long'],
                    'bed_bath_rooms': feature_train['bed_bath_rooms'],
                    })

model2_feature_test = pd.DataFrame({
                    'sqft_living': feature_test['sqft_living'],
                    'bedrooms': feature_test['bedrooms'],
                    'bathrooms': feature_test['bathrooms'],
                    'lat': feature_test['lat'],
                    'long': feature_test['long'],
                    'bed_bath_rooms': feature_test['bed_bath_rooms'],
                    })

In [24]:
model2 = LinearRegression()

In [25]:
model2.fit(model2_feature_train, target_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [26]:
model2_target_predict = model2.predict(model2_feature_test)

In [27]:
model2_feature_test.head()

       bathrooms  bed_bath_rooms  bedrooms      lat     long  sqft_living
735         2.25            6.25         4  47.4388 -122.162         2070
2830        3.00            8.00         5  47.6784 -122.285         2900
4106        2.50            6.50         4  47.5646 -122.129         3770
16218       3.50            6.50         3  47.6995 -122.228         4560
19964       2.50            5.50         3  47.6647 -122.083         2550

In [28]:
print(model2.score(model2_feature_test, target_test))
print(model2.intercept_)
print(model2.coef_)
print(metrics.mean_squared_error(target_test, model2_target_predict))

0.583369936784
[-67917635.30924633]
[[  2.98209815e+04  -1.01053700e+04  -3.99263515e+04   6.45868152e+05
   -3.04728206e+05   2.99671785e+02]]
62382591507.5

## What is the sign (positive or negative) for the coefficient/weight for ‘bathrooms’ in Model 2?

In [29]:
coef_bathrooms = model2.coef_[0][0]
# print(coef_bathrooms) #negative
print(coef_bathrooms)

29820.9815474

##  Model 3: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, ‘bed_bath_rooms’, ‘bedrooms_squared’, ‘log_sqft_living’, and ‘lat_plus_long’

In [30]:
model3_feature_train = pd.DataFrame({
                    'sqft_living': feature_train['sqft_living'],
                    'bedrooms': feature_train['bedrooms'],
                    'bathrooms': feature_train['bathrooms'],
                    'lat': feature_train['lat'],
                    'long': feature_train['long'],
                    'bed_bath_rooms': feature_train['bed_bath_rooms'],
                    'bedrooms_squared': feature_train['bedrooms_squared'],
                    'log_sqft_living': feature_train['log_sqft_living'],
                    'lat_plus_long': feature_train['lat_plus_long'],
                    })

model3_feature_test = pd.DataFrame({
                    'sqft_living': feature_test['sqft_living'],
                    'bedrooms': feature_test['bedrooms'],
                    'bathrooms': feature_test['bathrooms'],
                    'lat': feature_test['lat'],
                    'long': feature_test['long'],
                    'bed_bath_rooms': feature_test['bed_bath_rooms'],
                    'bedrooms_squared': feature_test['bedrooms_squared'],
                    'log_sqft_living': feature_test['log_sqft_living'],
                    'lat_plus_long': feature_test['lat_plus_long'],
                    })

In [31]:
model3 = LinearRegression()

In [32]:
model3.fit(model3_feature_train, target_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [33]:
model3_target_predict = model3.predict(model3_feature_test)

In [34]:
from sklearn import metrics
print(metrics.mean_squared_error(target_test, model3_target_predict))

59515418771.9

In [35]:
print(model3.score(model3_feature_test, target_test))

0.602518714179

In [36]:
print(model3.intercept_)
print(model3.coef_)

[-59910752.94130831]
[[  4.05315670e+04   1.23434680e+03  -3.92972202e+04   9.09002631e+02
    5.17180731e+05   1.24665924e+05  -5.06190750e+05  -3.92514806e+05
    4.99459544e+02]]

## Which model (1, 2 or 3) had the lowest RSS on TRAINING data?

### model1

In [37]:
feature_train_1, feature_test_1, target_train_1, target_test_1 = train_test_split(model1_feature_train, target_train, test_size=0.33, random_state=42)

In [38]:
model1_train = LinearRegression()

In [39]:
model1_train.fit(feature_train_1, target_train_1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [40]:
model1_train_predict = model1_train.predict(feature_test_1) # 트레이닝셋의 target predict.

In [41]:
# print(metrics.mean_squared_error(target_test_1, model1_train_predict)) # 모델1 트레이닝셋의 rss
# model1_train_rss = sum(model1_train_predict - target_test_1) ** 2
rss_model1_train = model1_train_predict - target_test_1
# rss_model1_train = sum(rss_model1_train ** 2)
rss_model1_train = (rss_model1_train ** 2).sum()
print(rss_model1_train)

price    2.300346e+14
dtype: float64

### model2

In [42]:
feature_train_2, feature_test_2, target_train_2, target_test_2 = train_test_split(model2_feature_train, target_train, test_size=0.33, random_state=42)

In [43]:
model2_train = LinearRegression()

In [44]:
model2_train.fit(feature_train_2, target_train_2)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [45]:
model2_train_predict = model2_train.predict(feature_test_2)

In [46]:
rss_model2_train = model2_train_predict - target_test_2
rss_model2_train = (rss_model2_train ** 2).sum()
print(rss_model2_train)

price    2.300346e+14
dtype: float64

### model3 (lowest Rss in training data)

In [47]:
feature_train_3, feature_test_3, target_train_3, target_test_3 = train_test_split(model3_feature_train, target_train, test_size=0.33, random_state=42)

In [48]:
model3_train = LinearRegression()

In [49]:
model3_train.fit(feature_train_3, target_train_3)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [50]:
model3_train_predict = model3_train.predict(feature_test_3)

In [51]:
rss_model3_train = model3_train_predict - target_test_3
rss_model3_train = (rss_model3_train ** 2).sum()
print(rss_model3_train)

price    2.121745e+14
dtype: float64

## Which model (1, 2 or 3) had the lowest RSS on TESTING data?

### model1

In [52]:
feature_train_1_test, feature_test_1_test, target_train_1_test, target_test_1_test = train_test_split(model1_feature_test, target_test, test_size=0.33, random_state=42)

In [53]:
model1_test = LinearRegression()

In [54]:
model1_test.fit(feature_train_1_test, target_train_1_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [55]:
model1_test_predict = model1_test.predict(feature_test_1_test)

In [56]:
rss_model1_test = model1_test_predict - target_test_1_test
rss_model1_test = (rss_model1_test ** 2).sum()
print(rss_model1_test)

price    1.770551e+14
dtype: float64

### model2

In [57]:
# print(metrics.mean_squared_error(target_test, model2_target_predict))
# rss_models2_test = model2_target_predict
feature_train_2_test, feature_test_2_test, target_train_2_test, target_test_2_test = train_test_split(model2_feature_test, target_test, test_size=0.33, random_state=42)

In [58]:
model2_test = LinearRegression()

In [59]:
model2_test.fit(feature_train_2_test, target_train_2_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [60]:
model2_test_predict = model2_test.predict(feature_test_2_test)

In [61]:
rss_model2_test = model2_test_predict - target_test_2_test
rss_model2_test = (rss_model2_test ** 2).sum()
print(rss_model2_test)

price    1.770551e+14
dtype: float64

### model3 (lowest Rss on testing data)

In [62]:
# print(metrics.mean_squared_error(target_test, model3_target_predict))
feature_train_3_test, feature_test_3_test, target_train_3_test, target_test_3_test = train_test_split(model3_feature_test, target_test, test_size=0.33, random_state=42)

In [63]:
model3_test = LinearRegression()

In [64]:
model3_test.fit(feature_train_2_test, target_train_2_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [65]:
model3_test_predict = model3_test.predict(feature_test_2_test)

In [66]:
rss_model3_test = model3_test_predict - target_test_3_test
rss_model3_test = (rss_model3_test ** 2).sum()
print(rss_model3_test)

price    1.770551e+14
dtype: float64